body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:5100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:3674px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:20px;
}
#u12681 {
  position:absolute;
  left:10px;
  top:10px;
  width:1920px;
  height:3674px;
  font-size:20px;
}
#u12682 {
  position:absolute;
  left:2px;
  top:1829px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:72px;
}
#u12683 {
  position:absolute;
  left:1972px;
  top:9px;
  width:364px;
  height:72px;
  font-size:22px;
}
#u12684 {
  position:absolute;
  left:20px;
  top:23px;
  width:324px;
  word-wrap:break-word;
}
#u12686 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:792px;
  height:366px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 10px rgba(215, 215, 215, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(215, 215, 215, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(215, 215, 215, 0.349019607843137);
  font-size:20px;
}
#u12687 {
  position:absolute;
  left:525px;
  top:334px;
  width:792px;
  height:366px;
  font-size:20px;
}
#u12688 {
  position:absolute;
  left:2px;
  top:175px;
  width:788px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:52px;
}
#u12689 {
  position:absolute;
  left:613px;
  top:472px;
  width:628px;
  height:52px;
  font-size:18px;
}
#u12690 {
  position:absolute;
  left:2px;
  top:15px;
  width:624px;
  word-wrap:break-word;
}
#u12691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u12691 {
  position:absolute;
  left:1262px;
  top:347px;
  width:41px;
  height:41px;
}
#u12692 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12693 {
  position:absolute;
  left:838px;
  top:561px;
  width:178px;
  height:52px;
  font-size:18px;
}
#u12693_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 204, 102, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12693.selected {
}
#u12694 {
  position:absolute;
  left:2px;
  top:15px;
  width:174px;
  word-wrap:break-word;
}
#u12695 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12696 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:71px;
}
#u12697 {
  position:absolute;
  left:1972px;
  top:132px;
  width:364px;
  height:71px;
}
#u12698 {
  position:absolute;
  left:20px;
  top:28px;
  width:324px;
  word-wrap:break-word;
}
#u12699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:488px;
}
#u12699 {
  position:absolute;
  left:1951px;
  top:132px;
  width:1px;
  height:487px;
}
#u12700 {
  position:absolute;
  left:2px;
  top:236px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:702px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 10px rgba(215, 215, 215, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(215, 215, 215, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(215, 215, 215, 0.349019607843137);
  font-size:20px;
}
#u12701 {
  position:absolute;
  left:1510px;
  top:132px;
  width:343px;
  height:702px;
  font-size:20px;
}
#u12702 {
  position:absolute;
  left:2px;
  top:343px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u12703 {
  position:absolute;
  left:1555px;
  top:156px;
  width:74px;
  height:74px;
}
#u12704 {
  position:absolute;
  left:2px;
  top:29px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u12705 {
  position:absolute;
  left:1680px;
  top:182px;
  width:100px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u12706 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u12707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12707 {
  position:absolute;
  left:1674px;
  top:250px;
  width:111px;
  height:37px;
  font-size:14px;
}
#u12708 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u12709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:2px;
}
#u12709 {
  position:absolute;
  left:1534px;
  top:358px;
  width:294px;
  height:1px;
}
#u12710 {
  position:absolute;
  left:2px;
  top:-8px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12711 {
  position:absolute;
  left:1510px;
  top:378px;
  width:343px;
  height:57px;
  font-size:16px;
}
#u12711_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12711.mouseOver {
}
#u12712 {
  position:absolute;
  left:20px;
  top:19px;
  width:303px;
  word-wrap:break-word;
}
#u12713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12713 {
  position:absolute;
  left:1510px;
  top:777px;
  width:343px;
  height:57px;
  font-size:16px;
}
#u12713_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12713.mouseOver {
}
#u12714 {
  position:absolute;
  left:20px;
  top:19px;
  width:303px;
  word-wrap:break-word;
}
#u12715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12715 {
  position:absolute;
  left:1510px;
  top:492px;
  width:343px;
  height:57px;
  font-size:16px;
}
#u12715_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12715.mouseOver {
}
#u12716 {
  position:absolute;
  left:20px;
  top:19px;
  width:303px;
  word-wrap:break-word;
}
#u12717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12717 {
  position:absolute;
  left:1674px;
  top:297px;
  width:111px;
  height:37px;
  font-size:14px;
}
#u12718 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u12719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u12719 {
  position:absolute;
  left:1579px;
  top:250px;
  width:50px;
  height:37px;
  font-size:14px;
  text-align:left;
}
#u12720 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u12721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u12721 {
  position:absolute;
  left:1579px;
  top:297px;
  width:85px;
  height:37px;
  font-size:14px;
  text-align:left;
}
#u12722 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u12723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12723 {
  position:absolute;
  left:1510px;
  top:663px;
  width:343px;
  height:57px;
  font-size:16px;
}
#u12723_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12723.mouseOver {
}
#u12724 {
  position:absolute;
  left:20px;
  top:19px;
  width:303px;
  word-wrap:break-word;
}
#u12725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12725 {
  position:absolute;
  left:1510px;
  top:549px;
  width:343px;
  height:57px;
  font-size:16px;
}
#u12725_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12725.mouseOver {
}
#u12726 {
  position:absolute;
  left:20px;
  top:19px;
  width:303px;
  word-wrap:break-word;
}
#u12727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12727 {
  position:absolute;
  left:1510px;
  top:606px;
  width:343px;
  height:57px;
  font-size:16px;
}
#u12727_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12727.mouseOver {
}
#u12728 {
  position:absolute;
  left:20px;
  top:19px;
  width:303px;
  word-wrap:break-word;
}
#u12729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12729 {
  position:absolute;
  left:1510px;
  top:720px;
  width:343px;
  height:57px;
  font-size:16px;
}
#u12729_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12729.mouseOver {
}
#u12730 {
  position:absolute;
  left:20px;
  top:19px;
  width:303px;
  word-wrap:break-word;
}
#u12731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12731 {
  position:absolute;
  left:1510px;
  top:435px;
  width:343px;
  height:57px;
  font-size:16px;
}
#u12731_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12731.mouseOver {
}
#u12732 {
  position:absolute;
  left:20px;
  top:19px;
  width:303px;
  word-wrap:break-word;
}
#u12733 {
  position:absolute;
  left:5000px;
  top:5000px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12734 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
}
#u12735 {
  position:absolute;
  left:1567px;
  top:132px;
  width:206px;
  height:57px;
  font-size:16px;
}
#u12735_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
}
#u12735.mouseOver {
}
#u12736 {
  position:absolute;
  left:20px;
  top:19px;
  width:166px;
  word-wrap:break-word;
}
#u12737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
}
#u12737 {
  position:absolute;
  left:1567px;
  top:189px;
  width:206px;
  height:57px;
  font-size:16px;
}
#u12737_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
}
#u12737.mouseOver {
}
#u12738 {
  position:absolute;
  left:20px;
  top:19px;
  width:166px;
  word-wrap:break-word;
}
#u12739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
}
#u12739 {
  position:absolute;
  left:1567px;
  top:245px;
  width:206px;
  height:57px;
  font-size:16px;
}
#u12739_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
}
#u12739.mouseOver {
}
#u12740 {
  position:absolute;
  left:20px;
  top:19px;
  width:166px;
  word-wrap:break-word;
}
#u12741 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
}
#u12742 {
  position:absolute;
  left:1567px;
  top:301px;
  width:206px;
  height:57px;
  font-size:16px;
}
#u12742_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
}
#u12742.mouseOver {
}
#u12743 {
  position:absolute;
  left:20px;
  top:20px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:35px;
}
#u12744 {
  position:absolute;
  left:1591px;
  top:312px;
  width:158px;
  height:35px;
}
#u12745 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u12746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:413px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12746 {
  position:absolute;
  left:10px;
  top:3273px;
  width:1920px;
  height:413px;
}
#u12747 {
  position:absolute;
  left:2px;
  top:198px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:229px;
}
#u12748 {
  position:absolute;
  left:1512px;
  top:3366px;
  width:228px;
  height:228px;
  font-size:20px;
}
#u12749 {
  position:absolute;
  left:2px;
  top:102px;
  width:224px;
  word-wrap:break-word;
}
#u12750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:229px;
}
#u12750 {
  position:absolute;
  left:1266px;
  top:3366px;
  width:228px;
  height:228px;
  font-size:20px;
}
#u12751 {
  position:absolute;
  left:2px;
  top:102px;
  width:224px;
  word-wrap:break-word;
}
#u12752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:912px;
  height:332px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u12752 {
  position:absolute;
  left:158px;
  top:3314px;
  width:912px;
  height:332px;
  font-size:28px;
}
#u12753 {
  position:absolute;
  left:2px;
  top:150px;
  width:908px;
  word-wrap:break-word;
}
#u12754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:93px;
}
#u12754 {
  position:absolute;
  left:2003px;
  top:3434px;
  width:364px;
  height:93px;
  font-size:22px;
  color:#000000;
}
#u12755 {
  position:absolute;
  left:20px;
  top:20px;
  width:324px;
  word-wrap:break-word;
}
#u12756 {
  position:absolute;
  left:1740px;
  top:3480px;
  width:0px;
  height:0px;
}
#u12756_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:254px;
  height:8px;
}
#u12756_seg1 {
  position:absolute;
  left:246px;
  top:-4px;
  width:8px;
  height:9px;
}
#u12756_seg2 {
  position:absolute;
  left:246px;
  top:-3px;
  width:17px;
  height:8px;
}
#u12756_seg3 {
  position:absolute;
  left:237px;
  top:-19px;
  width:40px;
  height:40px;
}
#u12757 {
  position:absolute;
  left:82px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:462px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12758 {
  position:absolute;
  left:267px;
  top:89px;
  width:694px;
  height:462px;
}
#u12759 {
  position:absolute;
  left:2px;
  top:223px;
  width:690px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 153, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#0099CC;
}
#u12760 {
  position:absolute;
  left:444px;
  top:125px;
  width:130px;
  height:66px;
  font-size:20px;
  color:#0099CC;
}
#u12761 {
  position:absolute;
  left:2px;
  top:21px;
  width:126px;
  word-wrap:break-word;
}
#u12762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u12762 {
  position:absolute;
  left:655px;
  top:125px;
  width:157px;
  height:66px;
  font-size:20px;
}
#u12763 {
  position:absolute;
  left:2px;
  top:21px;
  width:153px;
  word-wrap:break-word;
}
#u12764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:261px;
}
#u12764 {
  position:absolute;
  left:484px;
  top:227px;
  width:260px;
  height:260px;
}
#u12765 {
  position:absolute;
  left:2px;
  top:122px;
  width:256px;
  word-wrap:break-word;
}
#u12766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12766 {
  position:absolute;
  left:462px;
  top:485px;
  width:321px;
  height:66px;
  font-size:16px;
}
#u12767 {
  position:absolute;
  left:2px;
  top:24px;
  width:317px;
  word-wrap:break-word;
}
#u12768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:462px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12768 {
  position:absolute;
  left:1007px;
  top:89px;
  width:694px;
  height:462px;
}
#u12769 {
  position:absolute;
  left:2px;
  top:223px;
  width:690px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u12770 {
  position:absolute;
  left:1184px;
  top:125px;
  width:130px;
  height:66px;
  font-size:20px;
}
#u12771 {
  position:absolute;
  left:2px;
  top:21px;
  width:126px;
  word-wrap:break-word;
}
#u12772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 153, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#0099CC;
}
#u12772 {
  position:absolute;
  left:1395px;
  top:125px;
  width:150px;
  height:66px;
  font-size:20px;
  color:#0099CC;
}
#u12773 {
  position:absolute;
  left:2px;
  top:21px;
  width:146px;
  word-wrap:break-word;
}
#u12774 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12775_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:479px;
  height:66px;
}
#u12775 {
  position:absolute;
  left:1120px;
  top:247px;
  width:469px;
  height:56px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u12776 {
  position:absolute;
  left:2px;
  top:18px;
  width:465px;
  word-wrap:break-word;
}
#u12777_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:479px;
  height:66px;
}
#u12777 {
  position:absolute;
  left:1120px;
  top:341px;
  width:469px;
  height:56px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u12778 {
  position:absolute;
  left:2px;
  top:18px;
  width:465px;
  word-wrap:break-word;
}
#u12779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:35px;
}
#u12779 {
  position:absolute;
  left:1479px;
  top:352px;
  width:1px;
  height:34px;
}
#u12780 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0099CC;
}
#u12781 {
  position:absolute;
  left:1490px;
  top:360px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#0099CC;
}
#u12782 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:48px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12783 {
  position:absolute;
  left:1120px;
  top:444px;
  width:469px;
  height:48px;
  font-size:16px;
}
#u12784 {
  position:absolute;
  left:2px;
  top:14px;
  width:465px;
  word-wrap:break-word;
}
#u12785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:462px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12785 {
  position:absolute;
  left:1008px;
  top:578px;
  width:694px;
  height:462px;
}
#u12786 {
  position:absolute;
  left:2px;
  top:223px;
  width:690px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u12787 {
  position:absolute;
  left:1315px;
  top:600px;
  width:130px;
  height:66px;
  font-size:20px;
}
#u12788 {
  position:absolute;
  left:2px;
  top:21px;
  width:126px;
  word-wrap:break-word;
}
#u12789_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:479px;
  height:66px;
}
#u12789 {
  position:absolute;
  left:1146px;
  top:706px;
  width:469px;
  height:56px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u12790 {
  position:absolute;
  left:2px;
  top:18px;
  width:465px;
  word-wrap:break-word;
}
#u12791_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:479px;
  height:66px;
}
#u12791 {
  position:absolute;
  left:1146px;
  top:817px;
  width:469px;
  height:56px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u12792 {
  position:absolute;
  left:2px;
  top:18px;
  width:465px;
  word-wrap:break-word;
}
#u12793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:48px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12793 {
  position:absolute;
  left:1146px;
  top:924px;
  width:469px;
  height:48px;
  font-size:16px;
}
#u12794 {
  position:absolute;
  left:2px;
  top:14px;
  width:465px;
  word-wrap:break-word;
}
#u12795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12795 {
  position:absolute;
  left:1120px;
  top:221px;
  width:99px;
  height:16px;
  color:#FF0000;
}
#u12796 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u12797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:545px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12797 {
  position:absolute;
  left:267px;
  top:579px;
  width:694px;
  height:545px;
}
#u12798 {
  position:absolute;
  left:2px;
  top:264px;
  width:690px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12799_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:479px;
  height:66px;
}
#u12799 {
  position:absolute;
  left:380px;
  top:756px;
  width:469px;
  height:56px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u12800 {
  position:absolute;
  left:2px;
  top:18px;
  width:465px;
  word-wrap:break-word;
}
#u12801_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:479px;
  height:66px;
}
#u12801 {
  position:absolute;
  left:380px;
  top:836px;
  width:469px;
  height:56px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u12802 {
  position:absolute;
  left:2px;
  top:18px;
  width:465px;
  word-wrap:break-word;
}
#u12803_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:479px;
  height:66px;
}
#u12803 {
  position:absolute;
  left:380px;
  top:924px;
  width:469px;
  height:56px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u12804 {
  position:absolute;
  left:2px;
  top:18px;
  width:465px;
  word-wrap:break-word;
}
#u12805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:35px;
}
#u12805 {
  position:absolute;
  left:740px;
  top:938px;
  width:1px;
  height:34px;
}
#u12806 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0099CC;
}
#u12807 {
  position:absolute;
  left:751px;
  top:946px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#0099CC;
}
#u12808 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12809_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:479px;
  height:66px;
}
#u12809 {
  position:absolute;
  left:380px;
  top:676px;
  width:469px;
  height:56px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u12810 {
  position:absolute;
  left:2px;
  top:18px;
  width:465px;
  word-wrap:break-word;
}
#u12811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:48px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12811 {
  position:absolute;
  left:380px;
  top:1017px;
  width:469px;
  height:48px;
  font-size:16px;
}
#u12812 {
  position:absolute;
  left:2px;
  top:14px;
  width:465px;
  word-wrap:break-word;
}
#u12813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:464px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12813 {
  position:absolute;
  left:267px;
  top:1159px;
  width:694px;
  height:464px;
}
#u12814 {
  position:absolute;
  left:2px;
  top:224px;
  width:690px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u12815 {
  position:absolute;
  left:549px;
  top:1180px;
  width:130px;
  height:66px;
  font-size:20px;
}
#u12816 {
  position:absolute;
  left:2px;
  top:21px;
  width:126px;
  word-wrap:break-word;
}
#u12817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u12817 {
  position:absolute;
  left:267px;
  top:579px;
  width:694px;
  height:64px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u12818 {
  position:absolute;
  left:2px;
  top:20px;
  width:690px;
  word-wrap:break-word;
}
#u12819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#169BD5;
}
#u12819 {
  position:absolute;
  left:880px;
  top:579px;
  width:81px;
  height:66px;
  font-size:20px;
  color:#169BD5;
}
#u12820 {
  position:absolute;
  left:2px;
  top:21px;
  width:77px;
  word-wrap:break-word;
}
#u12821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12821 {
  position:absolute;
  left:340px;
  top:1306px;
  width:30px;
  height:30px;
}
#u12822 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#169BD5;
}
#u12823 {
  position:absolute;
  left:359px;
  top:1286px;
  width:195px;
  height:66px;
  font-size:20px;
  color:#169BD5;
}
#u12824 {
  position:absolute;
  left:2px;
  top:21px;
  width:191px;
  word-wrap:break-word;
}
#u12825_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:229px;
  height:5px;
}
#u12825 {
  position:absolute;
  left:328px;
  top:1351px;
  width:226px;
  height:2px;
}
#u12826 {
  position:absolute;
  left:2px;
  top:-7px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12827 {
  position:absolute;
  left:600px;
  top:1306px;
  width:30px;
  height:30px;
}
#u12828 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u12829 {
  position:absolute;
  left:622px;
  top:1286px;
  width:195px;
  height:66px;
  font-size:20px;
}
#u12830 {
  position:absolute;
  left:2px;
  top:21px;
  width:191px;
  word-wrap:break-word;
}
#u12831_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:229px;
  height:5px;
}
#u12831 {
  position:absolute;
  left:588px;
  top:1351px;
  width:226px;
  height:2px;
}
#u12832 {
  position:absolute;
  left:2px;
  top:-7px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:464px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12833 {
  position:absolute;
  left:1008px;
  top:1159px;
  width:694px;
  height:464px;
}
#u12834 {
  position:absolute;
  left:2px;
  top:224px;
  width:690px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:313px;
}
#u12835 {
  position:absolute;
  left:1188px;
  top:1264px;
  width:334px;
  height:312px;
}
#u12836 {
  position:absolute;
  left:2px;
  top:148px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u12837 {
  position:absolute;
  left:1265px;
  top:1173px;
  width:180px;
  height:66px;
  font-size:20px;
}
#u12838 {
  position:absolute;
  left:2px;
  top:21px;
  width:176px;
  word-wrap:break-word;
}
#u12839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:464px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12839 {
  position:absolute;
  left:1008px;
  top:1659px;
  width:694px;
  height:464px;
}
#u12840 {
  position:absolute;
  left:2px;
  top:224px;
  width:690px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u12841 {
  position:absolute;
  left:1008px;
  top:1659px;
  width:694px;
  height:64px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u12842 {
  position:absolute;
  left:2px;
  top:20px;
  width:690px;
  word-wrap:break-word;
}
#u12843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#169BD5;
}
#u12843 {
  position:absolute;
  left:1591px;
  top:1658px;
  width:111px;
  height:66px;
  font-size:20px;
  color:#169BD5;
}
#u12844 {
  position:absolute;
  left:2px;
  top:21px;
  width:107px;
  word-wrap:break-word;
}
#u12845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#999999;
}
#u12845 {
  position:absolute;
  left:1284px;
  top:1778px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u12846 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u12847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12847 {
  position:absolute;
  left:1196px;
  top:1838px;
  width:289px;
  height:19px;
  font-size:16px;
}
#u12848 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u12849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u12849 {
  position:absolute;
  left:1133px;
  top:1887px;
  width:71px;
  height:16px;
  color:#666666;
}
#u12850 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12851 {
  position:absolute;
  left:1167px;
  top:1925px;
  width:371px;
  height:16px;
}
#u12852 {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  white-space:nowrap;
}
#u12853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12853 {
  position:absolute;
  left:1167px;
  top:1952px;
  width:343px;
  height:16px;
}
#u12854 {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  white-space:nowrap;
}
#u12855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u12855 {
  position:absolute;
  left:1167px;
  top:1974px;
  width:279px;
  height:16px;
  color:#666666;
}
#u12856 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  white-space:nowrap;
}
#u12857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:112px;
}
#u12857 {
  position:absolute;
  left:1291px;
  top:2000px;
  width:128px;
  height:111px;
  color:#666666;
}
#u12858 {
  position:absolute;
  left:2px;
  top:48px;
  width:124px;
  word-wrap:break-word;
}
#u12859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:42px;
}
#u12859 {
  position:absolute;
  left:254px;
  top:73px;
  width:43px;
  height:42px;
  color:#FFFFFF;
}
#u12860 {
  position:absolute;
  left:2px;
  top:13px;
  width:39px;
  word-wrap:break-word;
}
#u12861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:42px;
}
#u12861 {
  position:absolute;
  left:248px;
  top:561px;
  width:43px;
  height:42px;
  color:#FFFFFF;
}
#u12862 {
  position:absolute;
  left:2px;
  top:13px;
  width:39px;
  word-wrap:break-word;
}
#u12863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:252px;
}
#u12863 {
  position:absolute;
  left:1987px;
  top:229px;
  width:678px;
  height:252px;
  font-size:22px;
  color:#000000;
  text-align:left;
}
#u12864 {
  position:absolute;
  left:20px;
  top:10px;
  width:638px;
  word-wrap:break-word;
}
#u12865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:42px;
}
#u12865 {
  position:absolute;
  left:254px;
  top:1149px;
  width:43px;
  height:42px;
  color:#FFFFFF;
}
#u12866 {
  position:absolute;
  left:2px;
  top:13px;
  width:39px;
  word-wrap:break-word;
}
#u12867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:42px;
}
#u12867 {
  position:absolute;
  left:995px;
  top:561px;
  width:43px;
  height:42px;
  color:#FFFFFF;
}
#u12868 {
  position:absolute;
  left:2px;
  top:13px;
  width:39px;
  word-wrap:break-word;
}
#u12869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:42px;
}
#u12869 {
  position:absolute;
  left:995px;
  top:1138px;
  width:43px;
  height:42px;
  color:#FFFFFF;
}
#u12870 {
  position:absolute;
  left:2px;
  top:13px;
  width:39px;
  word-wrap:break-word;
}
#u12871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:42px;
}
#u12871 {
  position:absolute;
  left:985px;
  top:1642px;
  width:43px;
  height:42px;
  color:#FFFFFF;
}
#u12872 {
  position:absolute;
  left:2px;
  top:13px;
  width:39px;
  word-wrap:break-word;
}
#u12873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:42px;
}
#u12873 {
  position:absolute;
  left:995px;
  top:73px;
  width:43px;
  height:42px;
  color:#FFFFFF;
}
#u12874 {
  position:absolute;
  left:2px;
  top:13px;
  width:39px;
  word-wrap:break-word;
}
#u12875 {
  position:absolute;
  left:1354px;
  top:89px;
  width:0px;
  height:0px;
  font-size:13px;
}
#u12875_seg0 {
  position:absolute;
  left:-4px;
  top:-103px;
  width:8px;
  height:103px;
}
#u12875_seg1 {
  position:absolute;
  left:-4px;
  top:-103px;
  width:513px;
  height:8px;
}
#u12875_seg2 {
  position:absolute;
  left:501px;
  top:-103px;
  width:8px;
  height:373px;
}
#u12875_seg3 {
  position:absolute;
  left:501px;
  top:262px;
  width:132px;
  height:8px;
}
#u12875_seg4 {
  position:absolute;
  left:620px;
  top:256px;
  width:20px;
  height:20px;
}
#u12876 {
  position:absolute;
  left:400px;
  top:-107px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12877 {
  position:absolute;
  left:614px;
  top:89px;
  width:0px;
  height:0px;
  font-size:13px;
}
#u12877_seg0 {
  position:absolute;
  left:-4px;
  top:-103px;
  width:8px;
  height:103px;
}
#u12877_seg1 {
  position:absolute;
  left:-4px;
  top:-103px;
  width:1223px;
  height:8px;
}
#u12877_seg2 {
  position:absolute;
  left:1211px;
  top:-103px;
  width:8px;
  height:518px;
}
#u12877_seg3 {
  position:absolute;
  left:1211px;
  top:407px;
  width:157px;
  height:8px;
}
#u12877_seg4 {
  position:absolute;
  left:1360px;
  top:270px;
  width:8px;
  height:145px;
}
#u12877_seg5 {
  position:absolute;
  left:1354px;
  top:263px;
  width:20px;
  height:20px;
}
#u12878 {
  position:absolute;
  left:908px;
  top:-107px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:48px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12879 {
  position:absolute;
  left:348px;
  top:1528px;
  width:469px;
  height:48px;
  font-size:16px;
}
#u12880 {
  position:absolute;
  left:2px;
  top:14px;
  width:465px;
  word-wrap:break-word;
}
